.doc_box {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem 1rem;
  position: relative;
}

.read_block {
  width: calc(100% - 220px);
  height: auto;
  display: flex;
  flex-direction: column;

  > h1 {
    color: #0f172a;
    font-weight: 500;
  }

  > p {
    color: #334155;
    font-size: 16px;
    font-weight: 500;
  }
}

[id] {
  scroll-margin-top: 59px;
}

.bread_crumb_block {
  width: 200px;
  height: auto;
  position: sticky;
  top: 5rem;
  right: 0;

  > ul {
    width: 100%;
    height: 450px;
    overflow-y: auto;
    list-style: none;
    user-select: none;
    margin: 0;
    padding: 0;

    > li {
      width: 100%;
      height: 24px;
      font-size: 14px;
      font-weight: 500;
      color: #7b889d;
      line-height: 24px;
      margin-bottom: 5px;
      cursor: pointer;

      &:hover {
        color: #565f6d;
      }

      &.active {
        color: #565f6d;
      }
    }
  }
}
